language: java

os:
    - osx

script:
    - "./gradlew clean check -i"

after_success:
    - "./gradlew jacocoRootReport coveralls"

branches:
  only:
    - master
    - release

before_install:
    - brew update
    - brew cask install java
    - java -Xmx32m -version
    - brew cask install xquartz
    - export DISPLAY=:99.0
    - /Applications/Utilities/XQuartz.app/Contents/MacOS/X11.bin
    - /Applications/Utilities/X11.app/Contents/MacOS/X11.bin
